@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    h1 {
        @apply text-6xl
    }

    h2 {
        @apply text-5xl
    }

    h3 {
        @apply text-4xl
    }

    h4 {
        @apply text-3xl
    }

    h5 {
        @apply text-2xl
    }

    h6 {
        @apply text-xl
    }

    * {
        @apply font-['Source_Sans_Pro'] text-textColor
    }

    body {
        @apply bg-[#2C2B2C]
    }


    /* my tags */
    
    .stroke{
        color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .icon path  {
        stroke: black;
        color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
      }

    .swiper {
        width: 600px;
        height: 300px;
      }

    .hideMyDetails-HeadLines {
        @apply scale-0 transition-all ease-linear duration-300 text-backgroundColor
    }

    .showMyDetails-HeadLines {
        @apply scale-100 transition-all ease-linear duration-300 flex text-backgroundColor
    }

    .hideMyDetails-Image{
        @apply  rounded-lg w-full h-full bg-[url('https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png')] bg-cover scale-x-[-1] transition-all ease-linear duration-300
    }

    .showMyDetails-Image {
        @apply rounded-lg w-full h-full bg-cover transition-all ease-linear duration-300
    }

    .hideMyDetails-BackDrop{
        @apply rounded-lg w-full h-full flex flex-col items-start justify-center transition-all ease-linear duration-300 ml-8;
    }

    .showMyDetails-BackDrop{
        @apply rounded-lg w-full h-full flex flex-col items-start justify-center backdrop-blur-lg transition-all ease-linear duration-300 ml-8;
    }

    .showMyDetails-Button{
        @apply m-2 px-16 py-4 bg-black text-white transition-all ease-linear duration-300 w-[50%]
    }

    .hideMyDetails-Button{
        @apply m-2 px-16 py-4 bg-backgroundColor text-white transition-all ease-linear duration-300 w-[50%]
    }
}